.sidebar {
  min-height: 90vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: whitesmoke;
  padding: 25px 15px;
  border-right: 2px solid rgb(210, 210, 210);
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: rgb(49, 49, 49);
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.sidebar .recent-entry:hover {
  background-color: rgb(49, 49, 49);
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-title {
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
